{% extends 'base.html.twig' %}

{% block title %}Hello HorairesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	
	hr.solid {
	  border-top: 1px solid;
	  margin: 1px;
	}
	
	.widget{
		padding-right: 16px;
	}
</style>



{{ form_start(form, {'action': path('app_list')}) }}
<div class="w3-container w3-lime w3-text-white">
  <h2 class="w3-center">Filtres : </h2>
  <hr class="solid">
<div class="w3-container w3-half w3-row">
	  <div class="w3-container w3-quarter">
		<label><b>{{ form_label(form.nom) }} : </b><label>
		{{ form_widget(form.nom) }}
	  </div>
	  <div class="w3-container w3-quarter">
		<label><b>{{ form_label(form.commentaire) }} : </b><label>
		{{ form_widget(form.commentaire) }}
	  </div>
	  <div class="w3-container w3-quarter">
		<label><b>{{ form_label(form.dateHeureDebut) }} : </b><label>
		{{ form_widget(form.dateHeureDebut) }}
	  </div>
	  <div class="w3-container w3-quarter">
		<label><b>{{ form_label(form.dateHeureFin) }} : </b><label>
		{{ form_widget(form.dateHeureFin) }}
	  </div>
 </div>
 <div class="w3-container w3-half">
	  <div class="w3-container w3-quarter">
		<label><b>{{ form_label(form.dateCreation) }} : </b><label>
		{{ form_widget(form.dateCreation) }}
	  </div>
	  <div class="w3-container w3-quarter">
		<label><b>Date modification : </b><label>
		{{ form_widget(form.derniereModification) }}
	  </div>
	  <div class="w3-container w3-quarter">
		<label><b>{{ form_label(form.priorite) }} : </b><label>
		{{ form_widget(form.priorite) }}
	  </div>
	  
	  <div class="w3-container w3-quarter">
		<label><b>Type d'horaire</b></label>
		<select name="{{ field_name(form.typeHoraire) }}" class="form-control">
			<option value=""></option>

			{% for nom, value in field_choices(form.typeHoraire) %}
				<option value="{{ value }}">{{ nom }}</option>
			{% endfor %}
		</select>
	  </div>
  </div>
  
  <div class="w3-left">
	<button type="submit" name="button" value="submit" class="btn btn-default">Submit</button>
 </div>
 
</div>

{{form_end(form) }}

{% if test|default %}
	<div class="w3-container">
		<ul class="w3-ul w3-card-4">
			{% for horaire in test %}
				<li class="w3-bar" id="{{horaire.id}}">
					<span onclick="supprimerHoraire('{{horaire.id}}','{{horaire.nom}}')" class="w3-bar-item w3-button w3-xlarge w3-right w3-red">×</span>
					
					<div class="w3-bar-item">
						<span class="w3-large"><b><input class="w3-text-lime" id="nom_{{ horaire.id }}" value="{{ horaire.nom }}"/></b></span><br>
						<span id="type_{{ horaire.id }}"><b>Type : {{ horaire.typeHoraire.nom }}</b></span><br>
						<span>Commentaire : </span><input id="commentaire_{{ horaire.id }}" value="{{ horaire.commentaire }}"/> <br>
						<span id="dateHeureDebut_{{ horaire.id }}">Début : {{ horaire.dateHeureDebut|date('d/m/Y h:m')}} </span><br>
						<span id="dateHeureFin_{{ horaire.id }}">Fin : {{ horaire.dateHeureFin|date('d/m/Y h:m')}} </span><br>
						<span id="dateCreation_{{ horaire.id }}">Créée le : {{ horaire.dateCreation|date('d/m/Y')}} </span><br>
						<span id="derniereModification_{{ horaire.id }}">Modifiée le : {{ horaire.derniereModification|date('d/m/Y')}} </span><br>
						<span id="priorite_{{ horaire.id }}">Priorité : {{ horaire.priorite }} </span><br>
						<span class="w3-bar-item w3-button w3-center w3-green" onclick="modifierHoraire('{{horaire.id}}')">Modifier</span>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
<script>

	function supprimerHoraire(id, nom){
	
		if(confirm("Êtes vous certains de vouloir supprimer l'horaire : "+nom+" ?"))
		{
			$.ajax({
			type: "DELETE",
			url: "http://localhost:8000/api/horaires/"+id,
			datatype: "json",
			success: function (reponse) {
				$("#"+id).remove();
			},
			error: function (reponse) {
				alert(JSON.stringify(reponse, null, 2));
			}
		});
		
		}
	}
	
	function modifierHoraire(id)
	{	
		var data = {
			"nom" : $("#nom_"+id).val(),
			"commentaire" : $("#commentaire_"+id).val()
		}
	
		$.ajax({
			type: "PATCH",
			data: JSON.stringify(data),
			url: "http://localhost:8000/api/horaires/"+id,
			processData: false,
			contentType: 'application/merge-patch+json',
			datatype: "json",
			success: function (reponse) {
				alert("Modification effectuée");
			},
			error: function (reponse) {
				alert(JSON.stringify(reponse, null, 2));
			}
		});
	}
	
	function dureeEnHeures(dateA, dateB)
	{
		var diffEnMillisecondes = Math.abs(new Date(dateB) - new Date(dateA));
		return Math.ceil(diffEnMillisecondes / (1000 * 60 * 60)); 
	}
</script>

{% endblock %}
